@{
    ViewBag.Title = "App";
}


@section css {
    <environment names="Development">
        <link rel="stylesheet" href="~/css/app/wrapper.css" swp-cache-version="true" />
        <link rel="stylesheet" href="~/css/app/side-bar.css" swp-cache-version="true" />
        <link rel="stylesheet" href="~/css/app/search-bar.css" swp-cache-version="true" />
        <link rel="stylesheet" href="~/css/app/pagination.css" swp-cache-version="true" />
        <link rel="stylesheet" href="~/css/app/home.css" swp-cache-version="true" />
        <link rel="stylesheet" href="~/css/app/admin/clients.css" swp-cache-version="true" />
        <link rel="stylesheet" href="~/css/app/account/profile.css" swp-cache-version="true"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/app/wrapper.min.css" swp-cache-version="true" />
        <link rel="stylesheet" href="~/css/app/side-bar.min.css" swp-cache-version="true" />
        <link rel="stylesheet" href="~/css/app/search-bar.min.css" swp-cache-version="true" />
        <link rel="stylesheet" href="~/css/app/pagination.min.css" swp-cache-version="true" />
        <link rel="stylesheet" href="~/css/app/home.min.css" swp-cache-version="true" />
        <link rel="stylesheet" href="~/css/app/admin/clients.min.css" swp-cache-version="true" />
        <link rel="stylesheet" href="~/css/app/account/profile.min.css" swp-cache-version="true" />
    </environment>
}


@section scripts {

    <environment names="Development">
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-route/angular-route.js"></script>
        <script src="@Url.GetResPath("~/js/app/index.js", (string)ViewBag.WebRootPath)"></script>
        <script src="@Url.GetResPath("~/js/app/app-mainmenu.js", (string)ViewBag.WebRootPath)"></script>

        <script>
            angular.module('app-mainmenu')
                   .value('appProps',
                        {
                            resultItemsPerPg: @(BaseController.SEARCH_RESULT_ITEMS_PER_PAGE),

                            urlMngProfile: '@Url.Action("ManageProfile", "ApiAccount")',
                            urlCheckEmailToken: '@Url.Action("IsEmailValidationTokenConfirmed", "ApiAccount")',
                            urlGetClients: '@Url.Action("GetClients", "ApiAddress")',

                            lbl_Name: '@Html.GetLabel("lbl_Name")',
                            lbl_FullName: '@Html.GetLabel("lbl_FullName")',
                            lbl_LglName: '@Html.GetLabel("lbl_LglName")',
                            lbl_Actns: '@Html.GetLabel("lbl_Actns")',
                            lbl_Actv: '@Html.GetLabel("lbl_Actv")',
                            lbl_PdClnt: '@Html.GetLabel("lbl_PdClnt")',
                            lbl_ID: '@Html.GetLabel("lbl_ID")',
                            lbl_FName: '@Html.GetLabel("lbl_FName")',
                            lbl_LName: '@Html.GetLabel("lbl_LName")',
                            lbl_Email: '@Html.GetLabel("lbl_Email")',
                            lbl_Usrnm: '@Html.GetLabel("lbl_Usrnm")',
                            lbl_CntctNm: '@Html.GetLabel("lbl_CntctNm")',
                            lbl_LckOut: '@Html.GetLabel("lbl_LckOut")',
                            lbl_Prfl: '@Html.GetLabel("lbl_Prfl")',
                            lbl_ReSnd: '@Html.GetLabel("lbl_ReSnd")',
                            lbl_CnclCnfrmtn: '@Html.GetLabel("lbl_CnclCnfrmtn")',
                            lbl_Clnts: '@Html.GetLabel("lbl_Clnts")',
                            lbl_Pgs: '@Html.GetLabel("lbl_Pgs")',
                            lbl_of: '@Html.GetLabel("lbl_of")',
                            lbl_TtlClnts: '@Html.GetLabel("lbl_TtlClnts")',

                            erMsg_InvldEmail: '@Html.GetMessage("erMsg_InvldEmail")',

                            msg_RfrshPrfl: '@Html.GetMessage("msg_RfrshPrfl")',
                            msg_SavePrfl: '@Html.GetMessage("msg_SavePrfl")',
                            msg_WtngEmailCnfrmtn: '@Html.GetMessage("msg_WtngEmailCnfrmtn")',
                            msg_AddClnts: '@Html.GetMessage("msg_AddClnts")',
                            msg_RfrshClnts: '@Html.GetMessage("msg_RfrshClnts")',
                            msg_SaveClnts: '@Html.GetMessage("msg_SaveClnts")'
                        });
        </script>

        <script src="@Url.GetResPath("~/js/app/mainCtrlr.js", (string)ViewBag.WebRootPath)"></script>
        <script src="@Url.GetResPath("~/js/app/homeCtrlr.js", (string)ViewBag.WebRootPath)"></script>
        <script src="@Url.GetResPath("~/js/app/account/profileCtrlr.js", (string)ViewBag.WebRootPath)"></script>
        <script src="@Url.GetResPath("~/js/app/admin/usersCtrlr.js", (string)ViewBag.WebRootPath)"></script>
        <script src="@Url.GetResPath("~/js/app/admin/clientsCtrlr.js", (string)ViewBag.WebRootPath)"></script>
        <script src="@Url.GetResPath("~/js/app/admin/addressesCtrlr.js", (string)ViewBag.WebRootPath)"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"
                asp-fallback-src="~/lib/angular/angular.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-route.min.js"
                asp-fallback-src="~/lib/angular-route/angular-route.min.js"
                asp-fallback-test="window.jQuery">
        </script>

        <script src="~/js/app/index.js" asp-append-version="true"></script>
        <script src="~/js/app/app-mainmenu.min.js" asp-append-version="true"></script>

        @*<script>
            angular.module('app-mainmenu')
                   .value('appProps', JSON.parse('@obj'));
        </script>*@

        <script src="~/js/app/mainCtrlr.min.js" asp-append-version="true"></script>
        <script src="~/js/app/homeCtrlr.min.js" asp-append-version="true"></script>
        <script src="~/js/app/account/profileCtrlr.min.js" asp-append-version="true"></script>
        <script src="~/js/app/admin/usersCtrlr.min.js" asp-append-version="true"></script>
        <script src="~/js/app/admin/clientsCtrlr.min.js" asp-append-version="true"></script>
        <script src="~/js/app/admin/addressesCtrlr.min.js" asp-append-version="true"></script>
    </environment>


}


<div ng-app="app-mainmenu" class="show-on-load">

    <div ng-controller="mainCtrlr as vm">

        <div id="sideBar">
            <div class="sb sb-lbls findme-color-bc-darker">
                <ul>
                    <li><a href="#!/users"><span>@Html.GetLabel("lbl_Usrs")</span></a></li>
                    <li><a href="#!/clients"><span>@Html.GetLabel("lbl_Clnts")</span></a></li>
                    <li><a href="#!/addresses"><span>@Html.GetLabel("lbl_Addresses")</span></a></li>
                </ul>
            </div>

            <div class="sb sb-icons findme-color-bc-darker">
                <ul>
                    <li><a href="#!/users"><div><span class="fa fa-users fa-2x"></span></div></a></li>
                    <li><a href="#!/clients"><div><span class="fa fa-vcard-o fa-2x"></span></div></a></li>
                    <li><a href="#!/addresses"><div><span class="fa fa-address-book-o fa-2x"></span></div></a></li>
                </ul>
            </div>
        </div>


        <div id="wrapper">

            <div id="searchBar" class="findme-color-bc-lgray">

                <div class="cont col-md-6 col-sm-12">
                    <button type="button" class="btn btn-burger findme-color-fc-white findme-color-bc-yellow">
                        <span class="fa fa-bars fa-2x"></span>
                    </button>

                    <span class="search-ctrl clsp hidden">
                        <span class="input-bg"><input type="search" /></span>

                        <button type="button" class="btn btn-search findme-color-bc-pink findme-color-fc-white">
                            <span class="fa fa-search fa-2x"></span>
                        </button>
                    </span>
                </div>

                <div class="tb col-md-6 col-sm-12 clsp hidden findme-color-bc-lgray">
                    <button type="button" class="btn btn-tb refresh" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{vm.headerConfig.refreshBtnTltp}}"><span class="fa fa-refresh fa-2x"></span></button>
                    <button type="button" class="btn btn-tb add" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{vm.headerConfig.addBtnTltp}}"><span class="fa fa-plus-circle fa-2x"></span></button>
                    <button type="button" class="btn btn-tb save" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{vm.headerConfig.saveBtnTltp}}"><span class="fa fa-save fa-2x"></span></button>
                </div>
            </div>

            <div class="main-ctrlr">

                <div class="title-bar">
                    <h4 class="findme-color-fc-pink">{{vm.headerConfig.title}}</h4>
                </div>


                <div ng-view class="vw-container"></div>
            </div>
        </div>

    </div>

</div>