@{
    ViewBag.Title = "App";


    var obj = Html.ToJSonHtmlString(new
    {
        urlMngProfile = Url.Action("ManageProfile", "ApiAccount"),
        lbl_FName = Html.GetLabel("Lbl_FName"),
        lbl_LName = Html.GetLabel("Lbl_LName"),
        lbl_Email = Html.GetLabel("Lbl_Email"),
        lbl_Usrnm = Html.GetLabel("Lbl_Usrnm"),
        lbl_CntctNm = Html.GetLabel("Lbl_CntctNm"),
        lbl_LckOut = Html.GetLabel("Lbl_LckOut"),
        lbl_Prfl = Html.GetLabel("Lbl_Prfl"),

        erMsg_InvldEmail = Html.GetMessage("ErMsg_InvldEmail"),
        msg_RfrshPrfl = Html.GetMessage("Msg_RfrshPrfl"),
        msg_SavePrfl = Html.GetMessage("Msg_SavePrfl")
    });
}


@section css {
    <environment names="Development">
        <link rel="stylesheet" href="@Url.GetResPath("~/css/app/wrapper.css", (string)ViewBag.WebRootPath)" />
        <link rel="stylesheet" href="@Url.GetResPath("~/css/app/side-bar.css", (string)ViewBag.WebRootPath)" />
        <link rel="stylesheet" href="@Url.GetResPath("~/css/app/search-bar.css", (string)ViewBag.WebRootPath)" />
        <link rel="stylesheet" href="@Url.GetResPath("~/css/app/home.css", (string)ViewBag.WebRootPath)" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/app/wrapper.min.css" />
        <link rel="stylesheet" href="~/css/app/side-bar.min.css" />
        <link rel="stylesheet" href="~/css/app/search-bar.min.css" />
        <link rel="stylesheet" href="~/css/app/main.min.css" />
    </environment>
}


@section scripts {

    <environment names="Development">
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular/angular-route.js"></script>
        <script src="@Url.GetResPath("~/js/app/index.js", (string)ViewBag.WebRootPath)"></script>
        <script src="@Url.GetResPath("~/js/app/app-mainmenu.js", (string)ViewBag.WebRootPath)"></script>

        <script>
            angular.module('app-mainmenu')
                   .value('appProps', JSON.parse('@obj'));
        </script>

        <script src="@Url.GetResPath("~/js/app/mainCtrlr.js", (string)ViewBag.WebRootPath)"></script>
        <script src="@Url.GetResPath("~/js/app/homeCtrlr.js", (string)ViewBag.WebRootPath)"></script>
        <script src="@Url.GetResPath("~/js/app/account/profileCtrlr.js", (string)ViewBag.WebRootPath)"></script>
        <script src="@Url.GetResPath("~/js/app/admin/usersCtrlr.js", (string)ViewBag.WebRootPath)"></script>
        <script src="@Url.GetResPath("~/js/app/admin/clientsCtrlr.js", (string)ViewBag.WebRootPath)"></script>
        <script src="@Url.GetResPath("~/js/app/admin/addressesCtrlr.js", (string)ViewBag.WebRootPath)"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"
                asp-fallback-src="~/lib/angular/angular.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-route.min.js"
                asp-fallback-src="~/lib/angular/angular-route.min.js"
                asp-fallback-test="window.jQuery">
        </script>

        <script src="~/js/app/index.js" asp-append-version="true"></script>
        <script src="~/js/app/app-mainmenu.min.js" asp-append-version="true"></script>

        <script>
            angular.module('app-mainmenu')
                   .value('appProps', JSON.parse('@obj'));
        </script>

        <script src="~/js/app/mainCtrlr.min.js" asp-append-version="true"></script>
        <script src="~/js/app/homeCtrlr.min.js" asp-append-version="true"></script>
        <script src="~/js/app/account/profileCtrlr.min.js" asp-append-version="true"></script>
        <script src="~/js/app/admin/usersCtrlr.min.js" asp-append-version="true"></script>
        <script src="~/js/app/admin/clientsCtrlr.min.js" asp-append-version="true"></script>
        <script src="~/js/app/admin/addressesCtrlr.min.js" asp-append-version="true"></script>
    </environment>


}


<div ng-app="app-mainmenu" class="show-on-load">

    <div ng-controller="mainCtrlr as vm">

        <div id="sideBar">
            <div class="sb sb-lbls findme-color-bc-darker">
                <ul>
                    <li><a href="#/users"><span>@Html.GetLabel("Lbl_Usrs")</span></a></li>
                    <li><a href="#/clients"><span>@Html.GetLabel("Lbl_Clnts")</span></a></li>
                    <li><a href="#/addresses"><span>@Html.GetLabel("Lbl_Addresses")</span></a></li>
                </ul>
            </div>

            <div class="sb sb-icons findme-color-bc-darker">
                <ul>
                    <li><a href="#/users"><div><span class="fa fa-users fa-2x"></span></div></a></li>
                    <li><a href="#/clients"><div><span class="fa fa-vcard-o fa-2x"></span></div></a></li>
                    <li><a href="#/addresses"><div><span class="fa fa-address-book-o fa-2x"></span></div></a></li>
                </ul>
            </div>
        </div>


        <div id="wrapper">

            <div id="searchBar" class="findme-color-bc-lgray">

                <div class="col-md-6 col-sm-12">
                    <button type="button" class="btn btn-burger findme-color-fc-white findme-color-bc-yellow">
                        <span class="fa fa-bars fa-2x"></span>
                    </button>

                    <span class="search-ctrl clsp hidden">
                        <span class="input-bg"><input type="search" /></span>

                        <button type="button" class="btn btn-search findme-color-bc-pink findme-color-fc-white">
                            <span class="fa fa-search fa-2x"></span>
                        </button>
                    </span>
                </div>

                <div class="tb col-md-6 col-sm-12 clsp hidden">
                    <button type="button" class="btn btn-tb refresh" ng-click="vm.headerConfig.tbBtnClickCallback('refresh')" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{vm.headerConfig.refreshBtnTltp}}"><span class="fa fa-refresh fa-2x"></span></button>
                    <button type="button" class="btn btn-tb add" ng-click="vm.headerConfig.tbBtnClickCallback('add')" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{vm.headerConfig.addBtnTltp}}"><span class="fa fa-plus-circle fa-2x"></span></button>
                    <button type="button" class="btn btn-tb save" ng-click="vm.headerConfig.tbBtnClickCallback('save')" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{vm.headerConfig.saveBtnTltp}}"><span class="fa fa-save fa-2x"></span></button>
                </div>
            </div>

            <div class="main-ctrlr">

                <div class="title-bar">
                    <h4 class="findme-color-fc-pink">{{vm.headerConfig.title}}</h4>
                </div>


                <div ng-view class="vw-container"></div>
            </div>
        </div>

    </div>

</div>
