@{
    string fullName;

    bool hasAccess = Html.UserHasSignedInCookie(out fullName);
}


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - @Html.GetLabel("Lbl_AppName") B.O</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/themes/paper/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="@Url.GetResPath("~/css/site.css", (string)ViewBag.WebRootPath)" />
        <link rel="stylesheet" href="@Url.GetResPath("~/css/checkBox.css", (string)ViewBag.WebRootPath)" />
        <link rel="stylesheet" href="@Url.GetResPath("~/css/colors.css", (string)ViewBag.WebRootPath)" />
        <link rel="stylesheet" href="@Url.GetResPath("~/css/wait.css", (string)ViewBag.WebRootPath)" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <link rel="stylesheet" href="http://bootswatch.com/paper/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/themes/paper/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/checkBox.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/colors.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/wait.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("css", required: false)

</head>

<body>
    <span id="respTracker">
        <span class="visible-xs"></span>
        <span class="visible-sm"></span>
        <span class="visible-md"></span>
        <span class="visible-lg"></span>
    </span>

    <div id="topbar" class="navbar navbar-inverse navbar-fixed-top findme-color-bc-pink">
        <div class="container">
            <div class="navbar-header">
                @if (hasAccess)
                {
                    <button type="button" class="navbar-toggle btn-user findme-color-fc-white" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="fa fa-user-circle-o fa-2x"></span>
                    </button>
                }
                else
                {
                    <a class="navbar-toggle findme-color-fc-white" data-toggle="collapse" data-target=".navbar-collapse" asp-controller="Account" asp-action="SignIn">Sign In</a>
                }
                <a asp-area="" asp-controller="App" asp-action="Index" class="navbar-brand findme-color-fc-white">
                    <img id="logo" src="~/images/FindMe-Logo.png" height="43" />
                    <i>Back Office</i>
                </a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">

                    @if (hasAccess)
                    {
                        <li class="cursor-pointer">
                            <a class="dropdown-toggle findme-color-fc-white" data-toggle="dropdown" aria-expanded="false">@Html.GetLabel("Lbl_HelloNm").Replace("{0}", fullName).Replace("{1}", Html.GetLabel("Lbl_NoNm"))<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a id="profile">@Html.GetLabel("Lbl_Profile")</a></li>
                                <li class="divider"></li>
                                <li><a id="signOut">@Html.GetLabel("Lbl_SignOut")</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="cursor-pointer">
                            <a class="findme-color-fc-white" asp-controller="Account" asp-action="SignIn">Sign In</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>


    <div id="renderBody" class="container-fluid">
        @RenderBody()
    </div>

    <div class="footer findme-color-bc-dark">
        <span class="findme-color-fc-white">&copy; @DateTime.Today.Year.ToString() - @Html.GetLabel("Lbl_AppName") Back Office</span>
    </div>

    <div id="glblWait" class="fm-wait hidden">
        <div class="fm-container">
            <div class="fm-center">
                <div class="fa fa-spinner fa-spin fa-4x findme-color-fc-pink"></div>
            </div>
        </div>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="@Url.GetResPath("~/js/site.js", (string)ViewBag.WebRootPath)" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>

        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>

        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script>

        globalOptns = {
            refreshTokenDeadID: @((int)Swapp.Data.MessageIdentifier.REFRESH_CONNECTION_TOKEN_EXPIRED),
            signInUrl: '@Url.Action("SignIn", "Account")',
            signOutUrl: '@Url.Action("SignOut", "Account")'
        };

    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
