
@{
    ViewBag.Title = "Sign In";
}


@section css {
    <link rel="stylesheet" href="@Url.GetResPath("~/css/account/signin.css", (string)ViewBag.WebRootPath)" />
}

@section scripts {

    <environment names="Development">
        <script src="~/lib/angular/angular.js"></script>

        <script src="~/js/account/app-signin.js" swp-cache-version="true"></script>
        <script src="~/js/account/signInCtrlr.js" swp-cache-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/lib/angular/angular.min.js"></script>

        <script src="~/js/account/app-signin.min.js" swp-cache-version="true"></script>
        <script src="~/js/account/signInCtrlr.min.js" swp-cache-version="true"></script>
    </environment>
}

<div id="signin" ng-app="app-signin" class="container">
    <h2 class="findme-color-fc-pink">@Html.GetLabel("lbl_SignIn")</h2>

    <div ng-controller="signInCtrlr as vm">

        <form novalidate name="signinform" ng-submit="vm.signin('@ViewBag.RedirectUrl')">

            <div class="row">

                <div class="col-md-6">

                    <div class="alert alert-warning show-on-load" ng-show="vm.errormsg">
                        <h4 ng-show="vm.errorstatus">{{ vm.errorstatus }}</h4>
                        <p>{{ vm.errormsg }}</p>
                    </div>

                    <div class="form-group">
                        @*<label class="findme-color-fc-dark" for="username">@rscMngr.GetLabel("lbl_EmailUsrnm")</label>*@
                        <input type="text" class="form-control" id="userName" name="userName" placeholder="@Html.GetLabel("lbl_EmailUsrnm")" ng-model="vm.obj.userName" required ng-minlength="4" ng-disabled="vm.isBusy" />
                        <span class="text-warning show-on-load" ng-show="signinform.userName.$touched && signinform.userName.$error.required">@Html.GetMessage("erMsg_VldEmailOrUsrnmReq")</span>
                        <span class="text-warning show-on-load" ng-show="signinform.userName.$touched && signinform.userName.$error.minlength">@Html.GetMessage("erMsg_VldEmailOrUsrnmReq")</span>
                    </div>

                    <div class="form-group">
                        @*<label class="findme-color-fc-dark" for="password">@rscMngr.GetLabel("lbl_Psswrd")</label>*@
                        <input type="password" class="form-control" id="password" name="password" placeholder="@Html.GetLabel("lbl_Psswrd")" ng-model="vm.obj.password" required ng-disabled="vm.isBusy" />
                        @*<span class="text-warning show-on-load" ng-show="signinform.password.$error.required">@rscMngr.GetMessage("erMsg_PsswrdReq")</span>*@
                    </div>

                    <div class="form-group">
                        <div class="row">

                            <span class="check-box remember col-lg-4 col-md-12" ng-disabled="vm.isBusy">
                                <input type="checkbox" value="None" id="remember" name="remember" ng-model="vm.obj.remember" />
                                <label class="lbl-chkb" for="remember"></label>

                                <label id="lblRemember" class="findme-color-fc-dark" for="remember">
                                    &nbsp;@Html.GetLabel("lbl_RmbrMe")
                                </label>
                            </span>

                            <div class="col-lg-8 col-md-12">
                                <a asp-controller="Account" asp-action="ForgotPassword">@Html.GetLabel("lbl_FrgtPsswrd")</a>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <button type="submit" class="btn btn-signin" ng-disabled="vm.isBusy">
                            <span class="fa fa-spinner fa-3x fa-spin findme-color-fc-pink hidden"></span>
                            <span class="fa fa-chevron-right fa-3x findme-color-fc-pink"></span>
                        </button>
                    </div>
                </div>

            </div>

        </form>

    </div>

</div>